
.heroContiner {
    background: url({herobg});
    position: absolute;
    width: 1920px;
    height: 620px;
    left: 0px;
    top: 76px;

    .heroTitle {
      font-size: 88px;
      color: aliceblue;
      padding-top: 99px;
      font-family: 'Source Sans Pro', sans-serif;
      margin-left: 220px;
    }

    .heroTitle2 {
      font-size: 22px;
      font-family: "Source Code Pro", monospace;
      line-height: 26px;
      line-height: 120%;
      margin-left: 220px;
    }

    .card {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      width: 650px;
      height: 178px;
      background-color: #ffffff;
      margin-top: 50px;
      border-radius: 16px;
      margin-left: 220px;

      .top {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid rgb(230, 213, 213);
        width: 650px;
        height: 97.5px;

        .tab1 {
          width: 148px;
          height: 38px;
          background: #f172281a;
          margin-left: 24px;
          margin-top: 24px;
          border-radius: 8px;
          display: flex;

          .icon {
            width: 23px;
            height: 18px;
            padding-left: 20px;
            padding-top: 10px;
            display: flex;
          }

          .text {
            width: 68px;
            height: 18px;
            color: #f17228;
            font-weight: 700;
            font-size: 16px;
            padding-left: 10px;
            padding-top: 8px;
            font-family: 'Source Code Pro', monospace;
          }
        }

        .tab2 {
          width: 129px;
          height: 38px;
          margin-top: 32px;
          padding-left: 30px;
          display: flex;

          .text {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 100%;
            padding-left: 10px;
            color: rgba(117, 117, 117, 1);
          }
        }
      }
    }

    .buttom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .textfield-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 0px;
        height: 70px;
        width: 620px;
        padding-left: 20px;
        padding-top: 8px;
      }

      .textfield {
        display: flex;
        flex-direction: row;
        align-items: center;
        background: rgba(245, 245, 245, 1);
        width: 470px;
        height: 40px;
        border-radius: 8px;
        padding-top: 7px;
        padding-left: 16px;

        .inputtext {
          font-family: 'Open Sans';
          font-weight: 400;
          font-size: 18px;
          padding-left: 8px;
          padding-bottom: 6px;
          color: rgba(158, 158, 158, 1);

        }
      }

      .button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 43px;
        border-style: none;
        background: linear-gradient(95.71deg, #FF7A7A -39.64%, #F75900 135.31%);
        border-radius: 8px;
        margin-left: 15px;

        .buttontext {
          font-family: 'Source Sans Pro';
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          text-align: center;
          color: white;
          padding-left: 8px;
          padding-bottom: 5px;
        }
      }
    }
  }