
.cta-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1922px;
    height: 1336px;
    margin-left: 20px;
    padding-top: 70px;
  
    .cta {
      background: url("../../assets/images/CTA.png");
      background-repeat: round;
      width: 1920px;
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  
      .text-button {
        width: 728px;
      }
  
      .text {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 900;
        font-size: 57px;
        line-height: 97.5%;
        text-align: center;
        color: #FFFFFF;
      }
  
      button {
        background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
        box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
        border-radius: 7px;
        width: 233px;
        height: 60px;
        border-style: none;
        margin-top: 18px;
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 100%;
        color: #FFFFFF;
  
      }
    }
  
    .footer {
      width: 1922px;
      height: 936px;
      background: #212121;
  
      .our-top-cities {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 82%;
        height: 290px;
        gap: 45px;
        margin-left: 100px;
        margin-top: 45px;
  
        p {
          font-family: 'Source Sans Pro';
          font-style: normal;
          font-weight: 700;
          font-size: 22px;
          line-height: 120%;
          color: #FFFFFF;
        }
  
        .items {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 150px;
  
          ul {
            padding-inline-start: 0px;
  
            li {
              list-style: none;
              font-family: 'Source Sans Pro';
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 100%;
              color: rgba(245, 245, 245, 1);
              margin: 10px;
            }
          }
        }
      }
  
      .menu-subs-rights {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 30px;
        width: 100%;
        height: 350px;
        margin-left: 100px;
  
        hr {
          border: 1px solid #424242;
          width: 739px;
          height: 0px;
          margin-left: 110px
        }
  
        .menu-subs {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
          padding: 0px;
          gap: 149px;
          width: 90%;
          height: 290px;
  
          .menu {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0px;
            gap: 53px;
            width: 58%;
            height: 190px;
  
            .items {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 0px;
  
              ul {
                padding-inline-start: 0;
  
                li {
                  list-style: none;
                  font-family: 'Source Sans Pro';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 100%;
                  color: #F5F5F5;
                  margin: 10px;
                }
              }
            }
  
            p {
              font-family: 'Source Sans Pro';
              font-style: normal;
              font-weight: 700;
              font-size: 22px;
              line-height: 120%;
              color: #FFFFFF;
              margin-left: 10px;
            }
          }
  
          .follow-subs {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 43px;
            width: 500px;
            height: 236px;
  
            .follow {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 0px;
              gap: 14px;
              width: 90px;
              height: 90px;
  
              p {
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                color: rgb(124, 121, 121);
  
              }
            }
  
            .subs {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 0px;
              gap: 20px;
              width: 500px;
  
              .input-button {
                display: flex;
                gap: 16px;
              }
  
              p {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 120%;
                color: #BBBBBB;
  
              }
  
              input {
                padding: 7px 0px 8px 16px;
                gap: 10px;
                width: 334px;
                height: 42px;
                background: #424242;
                border-radius: 4px;
                border-style: none;
              }
  
              ::placeholder {
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                font-family: 'Open Sans';
                color: #ADADAD;
              }
  
              button {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 133px;
                height: 58px;
                background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
                box-shadow: 0px 5px 8px rgba(222, 151, 0, 0.24), 0px 14px 32px rgba(255, 178, 14, 0.29);
                border-radius: 8px;
                border-style: none;
                color: #FFFFFF;
                font-family: 'Source Sans Pro';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 100%;
              }
            }
          }
        }
  
        .rights {
          display: flex;
          gap: 10px;
          align-items: flex-start;
  
          p {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 120%;
            color: #F5F5F5;
          }
        }
      }
    }
  }
  @media screen and (max-width: 500px) {
  .cta-footer {
    width: 400px;
    margin-left: 0;

    .cta {
      width: 385px;
      height: 240px;
      background: #FFB30E;

      .text {
        font-size: 30px;
      }

      button {
        width: 154px;
      }
    }

    .footer {
      width: 400px;

      .our-top-cities {
        display: none;
      }

      .menu-subs-rights {
        margin-left: 0;

        .menu-subs {
          flex-direction: column;

          .menu {
            width: 370px;
            gap: 36px;
            margin-left: 0;
          }

          .follow-subs {
            margin-left: 7px;
            .subs {
              margin-left: 6px;

              button {
                width: 100px;
              }

              input {
                width: 240px;
              }
            }
          }
        }

        .rights {
          padding-top: 249px;
          margin-left: 7px;
        }

        hr {
          width: 130px;
        }
      }
    }
  }
}